img {
    width:"960";
    height:"544";
}

h1 {
    text-align: left;
    display: inline;
}

input {
    font-size: 16px;
    margin: 3px;
    width: 100px;
    height: 20px;
    border-radius: 2px;
    border: 1px solid black;
}

p {
    float: right;
    font-size: 15px;
    font-family: sans-serif;
    text-align: right;
}
